* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;
    border: none;
}

body {
    background: linear-gradient(90deg, #66666f, #3a373d);
    /*background: rgb(60, 57, 57);*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

.logo-topo {
    margin: 62px auto 45px;
    width: 587px;
    height: 374px;

}

h4 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

div {
    text-align: center;
    margin-top: 29px;
    margin-bottom: 60px;
}


.minimo {
    background-color:gainsboro;
    border-radius: 14px;
    border: 2px solid #e1141433;
    width: 282px;
    height: 68px;
    padding-left: 20px;
    margin-right: 62px;
    font-size: 40px;
    font-weight: 550;
    color: grey
}

.maximo {
    background-color:gainsboro;
    border-radius: 14px;
    border: 2px solid #e1141433;
    width: 282px;
    height: 68px;
    padding-left: 20px;
    
    font-size: 40px;
    font-weight: 550;
    color: grey
}


button {
    background: linear-gradient(90deg, #504c8e, #a977d4);
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 60px;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: .9;
}

button:active {
    opacity: .7;

}

#winner {
    font-size: 72px;
    font-weight: 700;
    line-height: 2.5px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 55px;

}